body{
  background-color: #e7e8e7;
}
 
 /* #head{
     
 } */
 
 #title{
     text-align: center;
 }
 #description{
     text-align: center;
     font-family: 'Baloo Da 2', cursive;
     font-size: 20px;
     font-style: italic;
 }

 #main{
     /* background-color: #288671; */
     border-radius: 20px;
     justify-self: center;
 }

 /* .main{
     height: 100;
 } */
 .jumbotron-image {
    background-image: url("../images/transparent.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }  

  .welcome{
      font-size: 5rem;
      margin-top: 6rem;
  }

 .thin{
    border: 0.5px grey solid;
    border-radius: 5px;
}
 
 #survey-form{
     /* background-color: ; */
     padding: 1em;
     font-family: tahoma;
 }

nav .nav-item{
    margin-right: 3rem;
}

footer{
    background-color: dimgrey;
    color: black;
    text-align: center;
}

footer ul{
    margin: auto;
}

footer .nav-link{
    text-decoration: none;
    color: white !important;
}

.details{
  width: 70%; 
  height: 70%;
  margin: auto;
}

.all{
    width: 30%; 
    height: 30%;
    margin: auto; 
}

#imageUpdate { display: block; height: 300px; width: 100%; margin: 0px auto; border-radius: 50%; }

.img-placeholder {
  color: white;
  height: 300px; width: 100%;
  background: black;
  opacity: .7;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}

#idImageUpdate { display: block; height: 100px; width: 75%; margin: 0px auto; border-radius: 1%; }

.idImg-placeholder {
  color: white;
  height: 100px; width: 75%;
  background: black;
  opacity: .7;
  border-radius: 1%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.idImg-placeholder h4 {
  margin-top: 20%;
  color: white;
}
.img-div:hover .idImg-placeholder {
  display: block;
  cursor: pointer;
}




@media(max-width:500px){
.jumbotron-info a{
  margin-bottom: 10px;
  display: block;
}

.welcome{
    font-size: 2rem;
}

}